html {
    box-sizing: border-box;
    
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
     background: #a58686;
     margin-top: 0;
     font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 

}

header {
    width: 1140px;
    height:225px;
    background: #e9e9e9;
    text-align: center;
    padding-top:15px;
    padding-bottom:0px;
}
li{
    font-size: 30px;
    padding-left:8px;
    /*padding-top:10px;*/
    /*padding-bottom:10px;*/
}
ul{
    list-style: disc;
}
h1{
    font-size: 75px;
    margin:0px;
    
}
h2{
    font-size:40px;
}
.tdl{
    padding-left:10px;
    margin-left:0px;
    font-size:45px;
    padding-top:10px;
}
div{
    width:326px;
    height:747px;
    margin:0px;
    background-color:#64b0a7;
    display: inline-block;
    float:left;
}

main{
    width: 1140px;
    margin-left: auto;
    margin-right:auto;
}
    
.white{
    list-style-type: disc ;
    color: white;
}
::marker{
    color:black;
}



article{
    display: inline-block;
    background:white;
    width:814px;
    padding:50px;
    margin:0px;
    
}

p{
    font-size: 22px;
}